html, body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', sans-serif !important;
}

.header {
  padding: 30px 0px 80px;
}

.header h1 {
  font-size: 20px;
}

.nav-tabs {
  max-height: 46px;
}

.nav-tabs li a {
  color: #333;
  margin: 0;
  border: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.jumbotron {
  background-color: transparent !important; 
}

.jumbotron h2 {
  font-size: 50px;
  margin-bottom: 120px;
}

.jumbotron h2 span {
  color: #ffc200;
}

.banner {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.cards {
  background-color: #ffc200;
  padding: 80px 0;
}

.cards h2 {
  text-align: center;
  margin: 20px 0 60px 0;
}

.cards img {
  margin-bottom: 25px;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 60px 0;
}

.footer p {
  font-size: 12px;
  margin-bottom: 5px;
}

.footer img {
  width: 25px;
  margin: 10px 10px 0 0;
}

@media (max-width: 992px) {
  .col-md-4 {
    margin: 0 auto 0;
    text-align: center;
    width: 100%;
  }
  .cards img {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .header h1 {
    text-align: center;
  }

  .nav li {
    text-align: center;
    width: 100%;
  }

  .cards img {
    width: 100%;
  }
}